<h2>{{flight.name}}</h2>
<table class="table borderless">
    <tr>
        <th class="col-md-3">{{ 'FROM' | translate}}</th>
        <th>{{ 'TO' | translate}}</th>
        <th class="col-md-2">{{ 'PRICE' | translate}}</th>
        <th class="col-md-2">{{ 'DATE' | translate}}</th>
        <th>{{ 'SEATS_LEFT' | translate}}</th>
    </tr>
    <tr>
        <td class=" col-md-3 ">{{flight.from}}</td>
        <td>{{flight.to}}</td>
        <td class="col-md-2">{{flight.price | currency: 'EUR':'symbol':'3.2-2':locale}}</td>
        <td class="col-md-2">{{flight.date | date: 'shortDate':'':locale}}</td>
        <td id="flightSeatsLeft_{{flight.id}}">{{flight.seatsLeft}}</td>
    </tr>
</table>

<div [hidden]="flight.passengers.length === 0">
    <h4>Passengers</h4>
    <table class="table">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th></th>
        </tr>

        <tr id="passenger_{{passenger.id}}" *ngFor="let passenger of flight.passengers;">
            <td>{{passenger.firstName}}</td>
            <td>{{passenger.lastName}}</td>
            <td><button class="btn btn-primary btn-xs" (click)="_cancelBooking(passenger.id)">Cancel booking</button></td>
        </tr>
    </table>
</div>