<h2 class="some-padding-bottom">{{flight.name}}</h2>

<div class="container some-more-padding-bottom">
    <div class="row">
        <div class="col-md-2 bold">{{ 'FROM' | translate}}</div>
        <div class="col-md-2 bold">{{ 'TO' | translate}}</div>
        <div class="col-md-2 bold">{{ 'PRICE' | translate}}</div>
        <div class="col-md-2 bold">{{ 'DATE' | translate}}</div>
        <div class="col-md-2 bold">{{ 'SEATS_LEFT' | translate}}</div>
    </div>
    <div class="row">

        <div class="col-md-2 larger-font">{{flight.from}}</div>
        <div class="col-md-2 larger-font">{{flight.to}}</div>
        <div class="col-md-2">{{flight.price | currency: 'EUR':'symbol':'3.2-2':locale}}</div>
        <div class="col-md-2">{{flight.date | date: 'shortDate':'':locale}}</div>
        <div class="col-md-2" id="flightSeatsLeft_{{flight.id}}">{{flight.seatsLeft}}</div>
    </div>
</div>

<div [hidden]="flight.passengers.length === 0">
    <div class="container">
        <h4>Passengers</h4>
        <div class="row">
            <div class="col-md-2 bold">{{ 'FIRST_NAME' | translate}}</div>
            <div class="col-md-2 bold">{{ 'LAST_NAME' | translate}}</div>
            <div class="col-md-8 bold"></div>
        </div>
        <div *ngFor="let passenger of flight.passengers;" id="passenger_{{passenger.id}}" class="row a-little-bit-padding">
            <div class="col-md-2 table-row-height">{{passenger.firstName}}</div>
            <div class="col-md-2 table-row-height">{{passenger.lastName}}</div>
            <div class="col-md-8 table-row-height"><button class="btn btn-danger btn-xs" (click)="_cancelBooking(passenger.id)">{{ 'CANCEL_BOOKING' | translate}}</button></div>
        </div>
    </div>

</div>