<div class="some-padding">
    <div>
        <label class="some-margin-top" for="search">Search a flight</label>
        <input class="form-control" id="search" type="text" [(ngModel)]="searchValue">

        <label class="some-margin-top" for="localeSelect">Choose locale</label>
        <select class="form-control" id="localeSelect" name="localeSelect" [(ngModel)]="selectedValue">
            <option value="en-US">US</option>
            <option value="fr-FR">France</option>
            <option value="nl-NL">Netherlands</option>
        </select>
    </div>

    <ul class="list-group some-margin-top">
        <li class="list-group-item" *ngFor="let flight of flights | search:searchValue">
            <!-- 
                Structural directive will display the Delta flag if the flight is being
                carried out by Delta
            -->
            <p *showFlag="flight.name">
                <img style="width: 30px; height: 30px;" src="../../../assets/delta.png" alt="">
            </p>

            <div>
                <flight-detail [flight]="flight" [locale]="selectedValue"></flight-detail>
                <!-- 
                    Here we use a ternary operator to display a different values
                    depending on the flight.isBooking property.
                 -->
                <button flightHover [disabled]="flight.isFull" class="btn btn-primary" (click)="enableBooking(flight.id)">
                    {{flight.isBooking ? 'Cancel booking' : 'Book this flight'}}
                </button>
            </div>

            <div class="some-margin-top">
                <!-- Don't show the form if the flight is in booking mode or is full -->
                <div [hidden]="!flight.isBooking || flight.isFull">
                    <passenger-form (onAddPassenger)="addPassenger($event, flight.id)"></passenger-form>
                </div>
            </div>
        </li>
    </ul>
</div>