<form (ngSubmit)="addPassenger()" [formGroup]="form">
    <label for="inputField">Firstname</label>
    <input class="form-control" type="text" formControlName="firstName">

    <label for="inputField">Last name</label>
    <input class="form-control" type="text" formControlName="lastName">

    <button class="btn btn-primary some-margin-top" [disabled]="!form.valid">Tap to save</button>
    <p class="alert alert-warning some-margin-top" [hidden]="form.valid">Please fill in all fields</p>
</form>